05-cxf/InventoryServiceWS/src/main/webapp/wsdl/InventoryServicePort.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://tutorial2.mock_web_service" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://tutorial2.mock_web_service">
      
    
  <wsdl:types>
            
    <xsd:schema targetNamespace="http://tutorial2.mock_web_service">
                  
      <xsd:element name="getInventoryStatus">
                        
        <xsd:complexType>
                              
          <xsd:sequence>
                                    
            <xsd:element name="productId" type="xsd:int"/>
                                
          </xsd:sequence>
                          
        </xsd:complexType>
                    
      </xsd:element>
                  
      <xsd:element name="getInventoryStatusResponse">
                        
        <xsd:complexType>
                              
          <xsd:sequence>
                                    
            <xsd:element name="status" type="xsd:string"/>
                                
          </xsd:sequence>
                          
        </xsd:complexType>
                    
      </xsd:element>
              
    </xsd:schema>
        
  </wsdl:types>
      
  <wsdl:message name="getInventoryStatusRequest">
            
    <wsdl:part element="tns:getInventoryStatus" name="parameters"/>
        
  </wsdl:message>
      
    
  <wsdl:message name="getInventoryStatusResponse">
            
    <wsdl:part element="tns:getInventoryStatusResponse" name="parameters"/>
        
  </wsdl:message>
      
  <wsdl:portType name="InventoryServicePortType">
            
    <wsdl:operation name="getInventoryStatus">
                  
      <wsdl:input message="tns:getInventoryStatusRequest"/>
                  
      <wsdl:output message="tns:getInventoryStatusResponse"/>
              
    </wsdl:operation>
        
  </wsdl:portType>
      
  <wsdl:binding name="InventoryServiceBinding" type="tns:InventoryServicePortType">
            
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
            
    <wsdl:operation name="getInventoryStatus">
                  
      <soap:operation soapAction="http://tutorial2.mock_web_service/getInventoryStatus"/>
                  
      <wsdl:input>
                        
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding" namespace="http://tutorial2.mock_web_service" use="encoded"/>
                    
      </wsdl:input>
                  
      <wsdl:output>
                        
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding" namespace="http://tutorial2.mock_web_service" use="encoded"/>
                    
      </wsdl:output>
              
    </wsdl:operation>
        
  </wsdl:binding>
      
  <wsdl:service name="InventoryService">
            
    <wsdl:port binding="tns:InventoryServiceBinding" name="InventoryServicePort">
                  
      <soap:address location="http://localhost:8080/InventoryServiceWS/services/InventoryServicePort"/>
              
    </wsdl:port>
        
  </wsdl:service>
  
</wsdl:definitions>
