03-wsdl/InventoryService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tns="http://tutorial2.mock_web_service"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  targetNamespace="http://tutorial2.mock_web_service">
    
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                    targetNamespace="http://tutorial2.mock_web_service">
            <xsd:element name="getInventoryStatus">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="productId" type="xsd:int"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="getInventoryStatusResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="status" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>

    <wsdl:message name="getInventoryStatusRequest">
        <wsdl:part name="parameters" element="tns:getInventoryStatus"/>
    </wsdl:message>
    
    <wsdl:message name="getInventoryStatusResponse">
        <wsdl:part name="parameters" element="tns:getInventoryStatusResponse"/>
    </wsdl:message>

    <wsdl:portType name="InventoryServicePortType">
        <wsdl:operation name="getInventoryStatus">
            <wsdl:input message="tns:getInventoryStatusRequest"/>
            <wsdl:output message="tns:getInventoryStatusResponse"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="InventoryServiceBinding" type="tns:InventoryServicePortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getInventoryStatus">
            <soap:operation soapAction="http://tutorial2.mock_web_service/getInventoryStatus"/>
            <wsdl:input>
                <soap:body use="encoded" namespace="http://tutorial2.mock_web_service" encodingStyle="http://schemas.xmlsoap.org/soap/encoding"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="encoded" namespace="http://tutorial2.mock_web_service" encodingStyle="http://schemas.xmlsoap.org/soap/encoding"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="InventoryService">
        <wsdl:port name="InventoryServicePort" binding="tns:InventoryServiceBinding">
            <soap:address location="http://127.0.0.1:8001/InventoryService"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>